<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel='stylesheet' href='bower_components/fullcalendar/dist/fullcalendar.css' />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.js"></script>
	<script src='bower_components/jquery/dist/jquery.min.js'></script>
	<script src='bower_components/moment/min/moment.min.js'></script>
	<script src='bower_components/fullcalendar/dist/fullcalendar.js'></script>
	<script src='main.js'></script>
</head>
<body>
	<h1>Calendar</h1>
	<div id='calendar'></div>
	<div class="modal-container">
		<div class="modal">
		</div>
	</div>

</body>
</html>